nav {
  position: sticky;
  top: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
  }
nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}
nav a:hover {
    color: #0077ff;
}